*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: green;
    height: 100vh;
}
.main{
    height: 100vh;
    background: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}